/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html { background: #ccc; }
body { font: 14px Georgia, serif; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap {
	width: 40%; 
	margin: 0 auto; 
	padding: 70px 0;
	background: white; 
}

h1, p {
	padding: 15px;
}

h1 { font: bold 24px Helvetica, Arial, Sans-Serif; }

object {
	border-radius: 10px;
}

/*
.youtube {
	width: 100%;
}
*/